textarea{
    position: absolute;
    left:23%;
    bottom: 100px;
}
hr{
    height: 3px;
    color: white;
    background-color: blue;
    padding: 5px;
    top:100px;
    position: relative;
}
#TopText{
    position: absolute;
    color: #0095cc;
    left:550px;
}
#inp1{
    position: absolute;
    left:480px;
    top: 380px;
}
#inp2{
    position: absolute;
    left:575px;
    top: 160px;
}
#submitbutton{
    position: absolute;
    width:200px;
    height:40px;
    top:600px;
    left:580px;
}